<div class="row no-gutters clean-block clean-cart dark mt-5 p-5">
  <!-- Item -->
  <div class="col-md-12 col-lg-8">
    <div class="items">
      <div class="product pb-2 border-bottom">
        <div
          class="row justify-content-center align-items-center"
          *ngFor="let product of cartProducts"
        >
          <div class="col-md-3">
            <div class="product-image">
              <img
                class="img-fluid d-block mx-auto image"
                src="{{ product.image }}"
              />
            </div>
          </div>
          <div class="col-md-5 product-info">
            <a
              class="product-name"
              (click)="detail(product)"
              href="product/{{ product.id }}"
              >{{ product.name }}</a
            >
          </div>
          <!-- <div class="col-6 col-md-2 quantity">
            <label class="d-none d-md-block" for="quantity">Quantity</label
            ><input
              type="number"
              class="form-control-sm form-control quantity-input"
              id="number"
              value=""
            />
          </div> -->
          <div class="col-6 col-md-2 price">
            <span style="font-size: 18px;font-weight: 400;">{{
              product.price | currency: "USD"
            }}</span>
          </div>
          <div class="col-6 col-md-2 price">
            <a
              class="text-dark"
              href="/shopping-cart"
              (click)="removeFromCart(product)"
            >
              <i class="fas fa-trash-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Summary -->
  <div class="col-md-12 col-lg-4">
    <app-cart-cal [products]="cartProducts"></app-cart-cal>
  </div>
</div>
