<nav
  class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar p-1"
>
  <div class="container">
    <a class="navbar-brand logo" href="#">eCommerce</a
    ><button
      data-toggle="collapse"
      class="navbar-toggler"
      data-target="#navcol-1"
    >
      <a routerLink="/"><span class="sr-only">Toggle navigation</span> </a>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item item" role="presentation">
          <a class="nav-link" routerLink="/catalog" routerLinkActive="active"
            >SHOP</a
          >
        </li>
        <li class="nav-item border rounded d-flex item" role="presentation">
          <button
            class="btn btn-outline-dark btn-sm"
            type="button"
            style="font-size: 13PX;font-weight: 600;"
            routerLink="/shopping-cart"
          >
            SHOPPING CART
            <span class="badge badge-dark" style="padding: 4PX;font-size: 11PX;"
              >?</span
            >
          </button>
        </li>
      </ul>
    </div>
  </div>
  <h1>This should be its own component</h1>
</nav>
