<section
  class="clean-block clean-hero"
  style="background-image:url('assets/img/bg.jpg');color:rgba(216, 216, 216, 0.881); height:100%;"
>
  <div class="text" style="color: rgba(32, 32, 32, 0.849);">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna,
      dignissim nec auctor in, mattis vitae leo.
    </p>
    <button class="btn btn-outline-dark btn-lg" type="button">
      View Products
    </button>
  </div>
</section>
