<div class="container mt-4 pt-4">
  <div
    class="shadow-none content mt-5"
    style="background-color: rgba(255,255,255,0);"
  >
    <div class="row mt-5">
      <div
        class="col-12 col-md-6 col-lg-4 p-2"
        *ngFor="let product of productList"
      >
        <div class="card shadow">
          <div class="card-img-top">
            <img class="img-fluid" src="{{ product.image }}" />
          </div>
          <div class="card-block">
            <h4 class="card-title display-4">{{ product.name }}</h4>
            <h6 class="card-subtitle">${{ product.price }}</h6>
            <button class="btn btn-dark btn-5" (click)="onAddToCart(product)">
              <i class="icon" class="fas fa-cart-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
