<!-- <p *ngFor="let tempProduct of products">
  {{ tempProduct.name }}: {{ tempProduct.unitPrice | currency: "USD" }}
</p> -->

<div class="row">
  <div
    *ngFor="let tempProduct of products"
    class="col-3"
    style="padding: 5px; margin-bottom: 1vh;"
  >
    <img
      src="{{ tempProduct.imageUrl }}"
      class="img-fluid"
      alt="Responsive image"
      style="max-height:13vh;"
    />
    <h6 class="" style="font-size: 17px; font-weight: 400;">
      {{ tempProduct.name }} <br />
      <small class="text-muted">
        {{ tempProduct.unitPrice | currency: "USD" }} <br />
      </small>
      <small class="text-muted font-italic">
        {{ tempProduct.unitsInStock }} left in stock
      </small>
    </h6>
  </div>
</div>
