<nav
  class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"
>
  <div class="container">
    <a class="navbar-brand logo" href="#">eCommerce</a
    ><button
      data-toggle="collapse"
      class="navbar-toggler"
      data-target="#navcol-1"
    >
      <span class="sr-only">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item item" role="presentation">
          <a class="nav-link" href="/">HOME</a>
        </li>

        <li class="nav-item item" role="presentation">
          <a class="nav-link" href="features.html">SHOP</a>
        </li>
        <li class="nav-item border rounded d-flex item" role="presentation">
          <button
            class="btn btn-outline-dark btn-sm"
            type="button"
            style="font-size: 13PX;font-weight: 600;"
          >
            SHOPPING CART
            <span class="badge badge-dark" style="padding: 4PX;font-size: 11PX;"
              >5</span
            >
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
